@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Wow! Un Alien.</h1>
<h2 class="text-danger">Disculpa, algo extraño ha pasado. Hemos sido notificados de este error y no hay mucho más que hacer acá.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}


