@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Universidad de Boyacá, Tunja<br />
    Boyacá, CO.  150003<br />
    <abbr title="Phone">Teléfono:</abbr>
    206.588.6716
</address>

<address>
    <strong>Soporte:</strong> <a href="mailto:soporte@minnext.com">soporte@minnext.com</a><br />
    <strong>Contacto para inversionistas:</strong> <a href="mailto:vc@minnext.com">vc@minnext.com</a>
</address>
