@{
    ViewData["Title"] = "About";
    ViewData["NavBarID"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>Use this area to provide additional heading</h3>

<p>Use this area to provide additional information.</p>

