@{
    ViewData["Title"] = ViewData["Header"] = "Index";
    ViewData["Background"] = "project.jpeg";
}
<div class="main">
    <div class="section-space"></div>
    <!--Project-->
    <div class="projects-4" id="projects-4">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h3 class="title">¿Cómo entender la perspectiva de Minnext con respecto al uso de Blockchain más allá de las criptomonedas?</h3>
                    <h5 class="description">
                        Comencemos por darle a Blockchain una explicación simple. En su nivel más básico, puede pensar en una Blockchain como un libro mayor distribuido que registra transacciones de datos de una manera segura y verificable.
                    </h5>
                    <div class="section-space"></div>
                </div>
            </div>

            <h2 class="title text-center">Características</h2>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <div class="rotating-card-container">
                        <div class="card card-rotate card-background">
                            <div class="front front-background" style="background-image:url('../../../images/documentation/blockchain-info.svg');">
                                <div class="card-body">
                                    <a href="#">
                                        <h3 class="card-title">Blockchain es el Futuro</h3>
                                    </a>
                                    <p class="card-description">
                                        Blockchain (o cadena de bloques) es una de las más interesantes tecnologías del mercado en la actualidad, y pilar de la popular moneda digital Bitcoin. Como en su momento lo fue la World Wide Web, Blockchain tiene el potencial de transformar multitud de industrias. Tiene la capacidad de hacer que los procesos sean más eficientes, transparentes y seguros.
                                    </p>
                                </div>
                            </div>

                            <div class="back back-background" style="background-image: url('../../../images/documentation/blockchain-info.svg');">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        BlockChain la nueva tecnologia para la seguridad de tus empleados
                                    </h5>
                                    <p class="card-description">Informate sobre el uso de Blockchain para tu empresa minera.</p>
                                    <div class="footer justify-content-center">
                                        <a href="#" class="btn btn-info btn-just-icon btn-fill btn-round">
                                            <i class="material-icons">subject</i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 mr-auto">
                    <div class="info info-horizontal">
                        <div class="icon icon-info">
                            <i class="material-icons">settings</i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Caracteristica N° 1</h4>
                            <p class="description">
                                Los libros contables (o registros de transacciones) se distribuyen, lo que significa que cada parte involucrada tiene una copia idéntica del libro y cada vez que se registra una nueva transacción, cada libro en la red se actualiza.
                            </p>
                        </div>
                    </div>
                    <div class="info info-horizontal">
                        <div class="icon icon-primary">
                            <i class="material-icons">code</i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Caracteristica N° 2</h4>
                            <p class="description">
                                Es la única de una red Blockchain es que es criptográficamente inmutable, por lo que cada vez que una nueva transacción entra dentro de la red, cada parte involucrada debe aceptar que esta transacción sea válida a través de un mecanismo de consenso antes de actualizar sus libros mayores. Estas dos características únicas permiten que cualquier red Blockchain transfiera valor casi en tiempo real sin la participación de terceros.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-5 ml-auto">
                    <div class="info info-horizontal">
                        <div class="icon icon-rose">
                            <i class="material-icons">favorite</i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">La seguridad de Nuestros clientes es Primero</h4>
                            <p class="description">
                                La industria minera y de materiales siguie siendo uno de los principales actores de nuestra economía global. Como se esperaba, esta industria se enfrenta a algunos de los desafios más complejos y es probable que esos desafiós evolucionen hacia problemas más produndos para resolver.
                            </p>
                        </div>
                    </div>
                    <div class="info info-horizontal">
                        <div class="icon icon-danger">
                            <i class="material-icons">dashboard</i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Dashboard Administrativo</h4>
                            <p class="description">
                                El Dashboard genera un registro completo de tus actividades que ofrece el producto, al igual las diversas herramientas que existan en la vida útil del aplicativo.
                            </p>
                        </div>
                    </div>
                    <div class="info info-horizontal">
                        <div class="icon icon-info">
                            <i class="material-icons">group</i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Software &Aacute; Hardware Safe</h4>
                            <p class="description">
                                Nuestros productos son seguros contra todo fallo, el ideal de Minnext es darle una completa seguridad a los usuarios de una manera facil, sencilla y segura en todo momento de una manera remota y sin cables.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ml-auto mr-auto">
                    <div class="rotating-card-container">
                        <div class="card card-rotate card-background">
                            <div class="front front-background" style="background-image:url('../../../images/Background/project.jpeg');">
                                <div class="card-body">
                                    <h6 class="card-category">Iniciativa de Proyecto Minero</h6>
                                    <a href="#pablo">
                                        <h3 class="card-title">Minnext</h3>
                                    </a>
                                    <p class="card-description">
                                        Minnext es la mejor forma de mantener una constante verificación de los mineros de una manera remota, confiable y segura.
                                    </p>
                                </div>
                            </div>

                            <div class="back back-background" style="background-image: url('../../../images/Background/project.jpeg');">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        Inforamción de Minnext
                                    </h5>
                                    <p class="card-description">Revisa todo el contenido relacionado a este proyecto, Minnext es la solución a tus problemas.</p>
                                    <div class="footer justify-content-center">
                                        <a href="#pablo" class="btn btn-info btn-just-icon btn-fill btn-round">
                                            <i class="material-icons">subject</i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Project -->
    <div class="features-5" style="background-image: url('../../../images/Background/blockcahaing.png')">
        <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">Impacto tecnológico, social y/o económico</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="info">
                        <div class="icon">
                            <i class="material-icons">favorite</i>
                        </div>
                        <h4 class="info-title">Buena salud y bienestar</h4>
                        <p>Nuestra solución busca identificar y ayudar a regular las condiciones sobre las cuales un trabajador de una mina realiza su actividad laboral, ayudando a mejorar el entorno en este sector de la industria. </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="info">
                        <div class="icon">
                            <i class="material-icons">trending_up</i>
                        </div>
                        <h4 class="info-title">Trabajo decente y crecimiento económico</h4>
                        <p>Nuestra solución ayuda a identificar posibles faltas a las regulaciones laborales vigentes y generar un marco de trabajo en el que, por defecto, se respeten los derechos de cada trabajador. </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="info">
                        <div class="icon">
                            <i class="material-icons">build</i>
                        </div>
                        <h4 class="info-title">Industria, innovación e infraestructura</h4>
                        <p>Nuestra solución ayuda a desarrollar y supervisar operaciones consistentes relacionadas a la actividad minera mediante procedimientos basados en información que ayudan a tomar decisiones informadas y verificando casi en tiempo real que se han cumplido (o no) los términos contractuales establecidos para cada operación. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="info">
                        <div class="icon">
                            <i class="material-icons">cloud </i>
                        </div>
                        <h4 class="info-title">Agua limpia y sanidad</h4>
                        <p>Nuestra solución busca empoderar organizaciones en el sector minero para llevar a cabo operaciones sostenibles y responsables con el medio ambiente mediante una identificación inteligente de residuos en el proceso de tratamiento y, en general, durante el ciclo del agua usada en las operaciones. </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="info">
                        <div class="icon">
                            <i class="material-icons">access_time</i>
                        </div>
                        <h4 class="info-title">Consumo y producción responsable</h4>
                        <p>La explotación de minerales juega un gran papel en el marco del calentamiento global. Nuestra solución puede ayudar a administrar y supervisar la producción histórica de gases de efecto invernadero, ayudar a reducir el impacto ambiental de la explotación minera y ayudar a engranar la actividad de responsabilidad y buen gobierno corporativo con buenas prácticas de reporte y supervisión. </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="info">
                        <div class="icon">
                            <i class="material-icons">attach_money</i>
                        </div>
                        <h4 class="info-title">Costos Razonables</h4>
                        <p>Minnext aparte de ofrecer uno de los mejores productos de seguridad laboral minera es rentable ante los costos que produce una empresa, esto viene el caso ya que la adquisición de productos es por mayor y es una gran <strong>ventaja</strong> para los dueños de la mina.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>