
@{
    ViewData["Title"] = "Index";
    ViewData["NavBarID"] = "Documentation";
}
<!-- Style Temp -->
<style>
    .timeline.timeline-simple > li > .timeline-panel {
        width: 91%;
    }
</style>
<h1>Documentación de todo lo realizado</h1>
<hr />
En la siguiente lista encontrara toda la documentación necesaria para el entendimietno del proyecto:
<!--</div><div>-->
<br />
<ul class="timeline timeline-simple">
    <li class="timeline-inverted">
        <div class="timeline-badge danger">
            <i class="material-icons">card_travel</i>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <span class="label label-danger">Minnext</span>
            </div>
            <div class="timeline-body">
                <p></p>
                <figure><img src="~/images/information/project.jpeg" style="width:650px" /></figure>
            </div>
        </div>
    </li>
    <li class="timeline-inverted">
        <div class="timeline-badge success">
            <i class="material-icons">extension</i>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <span class="label label-success">Blockchain</span>
            </div>
            <div class="timeline-body">
                <p></p>
                <center>
                    
                    <button class="btn btn-success btn-primary btn-round">
                        <i class="material-icons">favorite</i> with icon
                        <div class="ripple-container"></div>
                    </button>
                </center>
            </div>
        </div>
    </li>
    <li class="timeline-inverted">
        <div class="timeline-badge info">
            <i class="material-icons">extension</i>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <span class="label label-info">Directorio Activo</span>
            </div>
            <div class="timeline-body">
                <p>Gracias a su infraesturctura, Minnext federa sus identidades empresariales mediante un Directorio Activo. Esto, genera o mapea nuevas cuentas de usuario para cada identidad en el BlockCain con la identidades empresariales almacenadas en el Directorio Activo. El ¿mapeo de identidad facilita el incio de sesión autenticado a las APIs y aplicaciones del cliente, utilizando politicas de autenticación de la propia organización.</p>
            </div>
            <center>
                <figure><img src="~/images/documentation/directorio_activo.png" /></figure>
                <button class="btn btn-primary btn-success btn-round">
                    <i class="material-icons">favorite</i> with icon
                    <div class="ripple-container"></div>
                </button>
            </center>
        </div>
    </li>
    <li class="timeline-inverted">
        <div class="timeline-badge danger">
            <i class="material-icons">card_travel</i>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <span class="label label-danger">Supervisor DLT</span>
            </div>
            <div class="timeline-body">
                <p>Un supervisor de tecnología de contabilidad distribuida (DLT), supervisa los eventos que ocurren en las cadenas de bloques conectadas a nuestra solución en la nube.</p>
            </div>
            <center>
                <figure><img src="~/images/information/project.jpeg" style="width:650px" /></figure>
                <button class="btn btn-primary btn-round">
                    <i class="material-icons">favorite</i> with icon
                    <div class="ripple-container"></div>
                </button>
            </center>
        </div>
    </li>
    <li class="timeline-inverted">
        <div class="timeline-badge success">
            <i class="material-icons">extension</i>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <span class="label label-success">Bases de datos SQL</span>
            </div>
            <div class="timeline-body">
                <p>La Base de datos SQL adjunta a cada implementación de Minnext almacena definiciones de contratos, metadatos de configración y una réplica de datos almacenada en SQL accesible en el BlockChain.<br/>Esta información se puede consultar, visualizar o analizar fácilmente accediento directamente a la base de datos</p>
            </div>
        </div>
    </li>
    <li class="timeline-inverted">
        <div class="timeline-badge info">
            <i class="material-icons">extension</i>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <span class="label label-info">Sistemas Operativos</span>
            </div>
            <div class="timeline-body">
                El software en los dispositivos de campo Minnext es, si duda, una parte angular de este proyecto. En cuanto a Desarrollo de TI y Operaciones, hermos adoptado un enfoque ágil utilizando metodologías DevOps. DevOps nos permitirá superar las barreras entre la gestión de TI y el desarrollo de Software.
                <br /><br />
                <strong>Windows 10 IoT Core</strong>
                <p>Licencia: Acuerdo de licencia en línea y acuerdos OEM integrados, libre de derechos.</p>
                <br />
                <strong>Unbutu 16.04</strong>
                <p>Algunos de nuestros dispositivos hacen uso de Linux con diferentes funcionalidades, como las de monitoreo y servideor Pull de configuraciones</p>
            </div>
        </div>
    </li>
    <li class="timeline-inverted">
        <div class="timeline-badge danger">
            <i class="material-icons">extension</i>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <span class="label label-danger">NodeJS</span>
            </div>
            <div class="timeline-body">
                <p>Node.js es un entorno en tiempo de ejecución multiplataforma, de código abierto, para la capa del servidor (pero no limitándose a ello) basado en el lenguaje de programación ECAMScript, asíncorno, con I/O de datos en una arquitectura orientada a eventos y basado en el motor V8 de Google.</p>
            </div>
        </div>
    </li>
    <li class="timeline-inverted">
        <div class="timeline-badge success">
            <i class="material-icons">extension</i>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <span class="label label-success">NPM</span>
            </div>
            <div class="timeline-body">
                <p>Es el administrador de paquetes para JavaScript y el registro de software más grande del mundo. Descubra paqeteds de código reutilizable y compilarlos de maneras nuevas y potentes.</p>
            </div>
        </div>
    </li>
    <li class="timeline-inverted">
        <div class="timeline-badge info">
            <i class="material-icons">extension</i>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <span class="label label-info">Socket.IO</span>
            </div>
            <div class="timeline-body">
                <p>Es una biblioteca de JavaScript para aplicaciones web en tiempo real. Permite la comunicación bidireccional en tiempo real entre clientes, web y servidores.</p>
            </div>
        </div>
    </li>
    <li class="timeline-inverted">
        <div class="timeline-badge success">
            <i class="material-icons">extension</i>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <span class="label label-success">OnOff</span>
            </div>
            <div class="timeline-body">
                <p>Acceso a GPIO y detección de interrupciones con Node.js</p>
            </div>
        </div>
    </li>
    <li class="timeline-inverted">
        <div class="timeline-badge danger">
            <i class="material-icons">extension</i>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <span class="label label-danger">.Net Core</span>
            </div>
            <div class="timeline-body">
                <p>Es un framework de software administrado libre y de código abierto para Windows, macOS y Linux.</p>
            </div>
        </div>
    </li>
    <li class="timeline-inverted">
        <div class="timeline-badge info">
            <i class="material-icons">extension</i>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <span class="label label-info">Entity Framework</span>
            </div>
            <div class="timeline-body">
                <p>Es un conjunto de tecnologías en ADO.NET que admite el desarrollo de aplicaciones de software orientadas a datos.</p>
            </div>
        </div>
    </li>
    <li class="timeline-inverted">
        <div class="timeline-badge success">
            <i class="material-icons">extension</i>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <span class="label label-success">ADAL</span>
            </div>
            <div class="timeline-body">
                <p>Es la biblioteca de autenticación de Active Directory de Azure (ADAL), permite a nuestros desarrolladores autenticas a los usuarios en la nube o en el Active Directory (AD) local y así obtener tokens para proteger las llamadas a las APIs desde culquier aplicación.</p>
            </div>
        </div>
    </li>
    <li class="timeline-inverted">
        <div class="timeline-badge danger">
            <i class="material-icons">extension</i>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <span class="label label-danger">UPM</span>
            </div>
            <div class="timeline-body">
                <p>Thank God for the support of my wife and real friends. I also wanted to point out that it’s the first album to go number 1 off of streaming!!! I love you Ellen and also my number one design rule of anything I do from shoes to music to homes is that Kim has to like it....</p>
            </div>
        </div>
    </li>
    <li class="timeline-inverted">
        <div class="timeline-badge info">
            <i class="material-icons">extension</i>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <span class="label label-info">Microsoft Health SDK</span>
            </div>
            <div class="timeline-body">
                <p>Por compatibilidad con la versión de la descontinuidad Microsfot Band 2, Minenext pone a la disposición la aplicación Minnext Wearable Apps.</p>
            </div>
        </div>
    </li>

    <li class="timeline-inverted">
        <div class="timeline-badge success">
            <i class="material-icons">fingerprint</i>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <span class="label label-success">Raspberry Pi & Sensores</span>
            </div>
            <div class="timeline-body">
                <strong>Raspberry</strong>
                <p>Los dispositivos de campo vienen dotados con una computadora pequeña y asequible que podemos programar para abordar una amplia variedad de sensores por separado e integralos en dispositivos de múltiples propósitos listos para conectarse, compartir y repetir señales e información entre ellos y enviar constantemente datos a nuestra rede en la nube.</p>
                <br/><br />
                <strong>Sensores</strong>
                <p>En los sensores encontramos la siguiente lista:</p>
                <ol>
                    <li>Pódometro</li>
                    <li>Monitor de Ritmo Cardiaco</li>
                    <li>Acelerómetro de tres ejes</li>
                    <li>Sensores giroscópicos</li>
                    <li>GPS</li>
                    <li>Micrófono</li>
                    <li>Sensor de luz ambiental</li>
                    <li>Sensor de Respuesta Galvánica</li>
                    <li>Sensor UV</li>
                    <li>Sensor de temperatura de la piel</li>
                    <li>Sensor capacitivo</li>
                    <li>Barómetro</li>
                    <li>Bandas y Smart Watch compatibles</li>
                </ol>
            </div>
        </div>
    </li>
    <li class="timeline-inverted">
        <div class="timeline-badge danger">
            <i class="material-icons">extension</i>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <span class="label label-danger">Cortana Devices SDK</span>
            </div>
            <div class="timeline-body">
                <p>Permite a los OEM integrar Cortana directamente con sus dispositvios, proporcionando experiencias únicas e intelegites para los usuarios.</p>
            </div>
        </div>
    </li>
    <li class="timeline-inverted">
        <div class="timeline-badge info">
            <i class="material-icons">extension</i>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <span class="label label-info">Azure IoT Hub SDKs</span>
            </div>
            <div class="timeline-body">
                <p>Permite que dispositivos capaces de crear aplicaciones para ejecutarse en IoT o servicios administrativos administren nuestro concentrado de IoT. </p>
            </div>
        </div>
    </li>
    <li class="timeline-inverted">
        <div class="timeline-badge success">
            <i class="material-icons">extension</i>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <span class="label label-success">MRAA</span>
            </div>
            <div class="timeline-body">
                <p>Biblioteca Linux para comunicación IO a baja velocidad en C con enlaces para C++, Python, Node.js y Pi 3 Modelo B+</p>
            </div>
        </div>
    </li>
</ul>
